<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Editar y aceptar alojamiento</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
      <span>&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="alojamientoForm" (ngSubmit)="submit()">

        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Nombre</label>
            <div class="col-sm-8">
                <input type="text"
                       formControlName="nombre"
                       class="form-control"
                       [(ngModel)] = "model.nombre"
                       [ngClass]="{ 'control-error': submitted && f.nombre.errors }" />
                <div *ngIf="submitted && f.nombre.errors" class="form-error">
                    <div *ngIf="f.nombre.errors.required">El nombre es requerido</div>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Descripción</label>
            <div class="col-sm-8">
                <input type="text"
                       formControlName="descripcion"
                       class="form-control"
                       [(ngModel)] = "model.descripcion"
                       [ngClass]="{ 'control-error': submitted && f.descripcion.errors }" />
                <div *ngIf="submitted && f.descripcion.errors" class="form-error">
                    <div *ngIf="f.descripcion.errors.required">La descripción es requerida</div>
                </div>
            </div>
        </div>
        
        <div class="form-group row">
                <label class="col-sm-4 col-form-label">Categoria</label>
                <div class="col-sm-8">
                    <ngb-rating [formControl]="f.categoria"
                                max="5"
                                formControlName="categoria"
                                [ngClass]="{ 'is-invalid': submitted && f.categoria.errors }"
                                [(ngModel)] = "model.categoria"></ngb-rating>
                    <div *ngIf="submitted && f.categoria.errors" class="form-error">
                        <div *ngIf="f.categoria.errors.required">La categoría es requerida</div>
                    </div>
                </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Tipo de pensión</label>
            <div class="col-sm-8">
                <label>{{model.tipoPension}}</label>
            </div>
        </div>
        
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Valor de pensión</label>
            <div class="col-sm-8">
                <label> {{model.valorPension}} </label>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Tipo de alojamiento</label>
            <div class="col-sm-8">
                <label> Hotel </label>
            </div>
        </div>

        <div class="row col-md-12">
            <label><strong>Ubicación</strong></label>
        </div>

        <div class="form-group row">
            <label class="col-sm-4 col-form-label"><strong>Provincia</strong></label>
            <div class="col-sm-8">
                <label>{{model.ubicacion.provincia}}</label>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-4 col-form-label"><strong>Localidad</strong></label>
            <div class="col-sm-8">
              <label>{{model.ubicacion.localidad}}</label>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-4 col-form-label"><strong>Dirección</strong></label>
            <div class="col-sm-8">
                <label>{{model.ubicacion.direccion}}</label>
            </div>
        </div>
    </form>
  </div>
  <div class="modal-footer">
      <img *ngIf="loading"
      src="https://66.media.tumblr.com/695ce9a82c8974ccbbfc7cad40020c62/tumblr_o9c9rnRZNY1qbmm1co1_1280.gifv" 
      width="9%">
    <button type="button" class="btn btn-success" (click)="submit()" [disabled]="loading">Aceptar</button>
    <button type="button" class="btn btn-info" (click)="closeModal()" [disabled]="loading">Cancelar</button>
  </div>