<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <a class="navbar-brand text-light" href="#">Alojamientos</a>
    <button class="navbar-toggler" type="button"
            data-toggle="collapse" data-target="#navbarNavAltMarkup"
             aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link text-light" routerLink="listadoAlojamientos">Listado de alojamientos</a>
      </div>
      <div class="navbar-nav">
        <a class="nav-item nav-link text-light" routerLink="altaAlojamiento">Alta de alojamientos</a>
      </div>
      <div class="navbar-nav">
        <a class="nav-item nav-link text-light" (click)="descargarLog()"> <i class="fas fa-file-download"></i> Descargar log</a>
      </div>
    </div>
  </nav>