<div class="jumbotron">
  <div class="container">
      <div class="row">
          <h3>Alojamientos</h3>
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Descripción</th>
                <th scope="col">Categoria</th>
                <th scope="col">Pensión</th>
                <th scope="col">Valor Pensión</th>
                <th scope="col">Provincia</th>
                <th scope="col">Localidad</th>
                <th scope="col">Dirección</th>
                <th scope="col">Imagenes</th>
                <th scope="col">Estado</th>
                <th scope="col" *ngIf="isAdmin() "></th>
                <th scope="col" *ngIf="isAdmin()"></th>
              </tr>
            </thead>
            <tbody *ngIf="!errorMessage">
              <tr *ngFor="let alojamiento of alojamientos">
                <td>{{ alojamiento.nombre }}</td>
                <td>{{ alojamiento.descripcion }}</td>
                <td>{{ alojamiento.categoria }}</td>
                <td>{{ alojamiento.pensiones[0]?.tipopension }}</td>
                <td>{{ alojamiento.pensiones[0]?.precio }}</td>
                <td>{{ alojamiento.ubicacion.provincia }}</td>
                <td>{{ alojamiento.ubicacion.localidad }}</td>
                <td>{{ alojamiento.ubicacion.direccion }}</td>
                <td>
                  <i style="cursor: pointer;"
                     placement="top" ngbTooltip="Ver Imagenes"
                     (click)="verImagenes(alojamiento.id)"
                     class="fas fa-images fa-lg"></i>
                </td>
                <td>{{ getEstado(alojamiento.checked)}}</td>
                <td *ngIf="isAdmin()">
                  <i style="color:green; cursor: pointer;"
                     *ngIf = "isChecked(alojamiento.checked)"
                     (click)="editar(alojamiento.id)"
                     placement="top" ngbTooltip="Editar y aceptar alojamiento"
                     class="fas fa-check fa-lg"></i>
                </td>
                <td *ngIf="isAdmin()">
                  <i style="color:red; cursor: pointer;"
                     *ngIf = "isChecked(alojamiento.checked)"
                     placement="top" ngbTooltip="Rechazar alojamiento"
                     (click)="rechazar(alojamiento.id)"
                     class="fas fa-times fa-lg"></i>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="text-center col-md-12">
            <h3>{{errorMessage}}</h3>
          </div>
      </div>
  </div>
</div>