<div class="jumbotron">
  <div class="container">
      <div class="row">
          <h3>Alojamientos</h3>
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Descripción</th>
                <th scope="col">Categoria</th>
                <th scope="col">Provincia</th>
                <th scope="col">Localidad</th>
                <th scope="col">Dirección</th>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let alojamiento of alojamientos">
                <td>{{ alojamiento.nombre }}</td>
                <td>{{ alojamiento.descripcion }}</td>
                <td>{{ alojamiento.categoria }}</td>
                <td>{{ alojamiento.ubicacion.provincia }}</td>
                <td>{{ alojamiento.ubicacion.localidad }}</td>
                <td>{{ alojamiento.ubicacion.direccion }}</td>
                <td>
                  <i style="color:green; cursor: pointer;"
                     (click)="editar(alojamiento.id)"
                     placement="top" ngbTooltip="Editar y aceptar alojamiento"
                     class="fas fa-check fa-lg"></i>
                </td>
                <td>
                  <i style="color:red; cursor: pointer;"
                     placement="top" ngbTooltip="Rechazar alojamiento"
                     (click)="rechazar(alojamiento.id)"
                     class="fas fa-times fa-lg"></i>
                </td>
              </tr>
            </tbody>
          </table>
      </div>
  </div>
</div>