<!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3>Alta de alojamientos</h3>
                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                    <div>
                        <label><strong>Ubicación</strong></label>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Provincia</label>
                        <div class="col-sm-8">
                            <ng-select [items]="comboProvincias"
                                       bindLabel="name"
                                       bindValue="id"
                                       (change)="changePais($event)"
                                       [(ngModel)]="model.provincia"
                                       placeholder="Seleccionar una provincia"
                                       formControlName="provincia"
                                       [ngClass]="{ 'control-error': submitted && f.provincia.errors }" >
                            </ng-select>
                            <div *ngIf="submitted && f.provincia.errors" class="form-error">
                                <div *ngIf="f.provincia.errors.required">La provincia es requerida</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Localidad</label>
                        <div class="col-sm-8">
                            <ng-select [items]="comboLocalidades"
                                       bindLabel="name"
                                       bindValue="id"
                                       [(ngModel)]="model.localidad"
                                       formControlName="localidad"
                                       placeholder="Seleccionar una localidad"
                                       [ngClass]="{ 'control-error': submitted && f.localidad.errors }" ></ng-select>
                            <div *ngIf="submitted && f.localidad.errors" class="form-error">
                                <div *ngIf="f.localidad.errors.required">La localidad es requerida</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Dirección</label>
                        <div class="col-sm-8">
                            <input type="text"
                                   formControlName="direccion"
                                   class="form-control"
                                   [(ngModel)] = "model.direccion"
                                   [ngClass]="{ 'control-error': submitted && f.direccion.errors }" />
                            <div *ngIf="submitted && f.direccion.errors" class="form-error">
                                <div *ngIf="f.direccion.errors.required">La dirección es requerida</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Tipo de alojamiento</label>
                        <div class="col-sm-8">
                            <ng-select [items]="comboAlojamiento"
                                       [(ngModel)]="model.tipoAlojamiento"
                                       formControlName="tipoAlojamiento"
                                       placeholder="Seleccionar un tipo de alojamiento"
                                       [ngClass]="{ 'control-error': submitted && f.tipoAlojamiento.errors }" ></ng-select>
                            <div *ngIf="submitted && f.tipoAlojamiento.errors" class="form-error">
                                <div *ngIf="f.tipoAlojamiento.errors.required">El tipo de alojamiento es requerido</div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Categoria</label>
                            <div class="col-sm-8">
                                <ngb-rating [formControl]="f.categoria"
                                            max="5"
                                            formControlName="categoria"
                                            [ngClass]="{ 'is-invalid': submitted && f.categoria.errors }"
                                            [(ngModel)] = "model.categoria"></ngb-rating>
                                <div *ngIf="submitted && f.categoria.errors" class="form-error">
                                    <div *ngIf="f.categoria.errors.required">La categoría es requerida</div>
                                </div>
                            </div>
                        </div>
                    
                    <div class="form-group">
                        <button class="btn btn-primary">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>