@import "~@ng-select/ng-select/themes/default.theme.css";

.form-error{
    color: #dc3545;
    font-size: 80%;
    margin-top: .25rem;
    width: 100%;
}

.control-error{
    border-color: #dc3545 !important;
}

.ng-select.control-error {
    .ng-select-container {
        border-color:#dc3545;
    }
}

.red-colour {
    color: red;
}

.clickeable {
    cursor: pointer;
}

.notify {
    position: fixed;
    margin-top: .8em;
    padding-left: 80%;
}

.altaAlojamiento{
    padding-top: 1em !important;
    padding-left: 0em !important;
}